
body {
    padding-top: 20px;
    padding-bottom: 0px;
}

h1{
    color:#11618f;
    font-family:Forte;
}
h2{
    font-family:Forte;
}

/*navbar start*/
.navbar-toggle .icon-bar {
    background-color: white;
}

#logo{
    position:absolute; 
    top:-10px; 
    width:130px;
    z-index:10
}
#searchL {
    position: absolute;
    left: 170px;
    margin: 0;
    padding: 10px 0 0;
}
    #searchL i {
        position: absolute;
        left: 7px;
        top: 18px;
    }
    #searchL input {
        padding-left: 30px;
    }
#siteNav li a {
    color: white;
    font-size: 1.5em;
    background-color: transparent;
}
    #siteNav li a:hover {
        color:antiquewhite;
        background-color: transparent;
        border-bottom: 2px solid #11618f;
    }
    #siteNav li a:active, #siteNav li a:focus {
        color: #fc3567;
    }

.navbar-nav :before li {
    background-color: darkturquoise;
}
#navBG {
    width: 100%;
    height: 100px;
    background-color: darkturquoise;
    position: absolute;
    top: 0px;
}
/*navbar end*/
/*footer start*/
footer {
    padding: 10px;
}
#followUs img{
    width:40px;
    display:inline-block
}
/*footer end*/
/*panel start*/
.panel {
    padding: 0;
    margin-left: 10px;
}
.packPanel{
    height:50vh;
}
.panel-heading{
    height:25%;
}
.panel-body{
    height:75%
}
.lblPrice{
    position:absolute;
    right:2%;
    top:80%;
}
/*panel end*/
img {
    width: 100%;
    display: block;
    margin: auto;
}

img[usemap] {
		border: none;
		height: auto;
		max-width: 100%;
		width: auto;
	}
.details {
    white-space: pre-line;
}
.row {
    padding: 20px;
}
/*form start*/
form .row {
    padding: 10px;
}

input[type=radio] {
    margin-left: 10px;
}
span, .validation-summary-errors {
    color: red;
}
/*form end*/
#navCat{ 
    position:relative;
    left:380px;}

/*box start*/
.bookBox-container{
    background-color:#fc3567; 
    padding:5px; 
    z-index:5;
}

.bookBox-content{
    border:5px solid #fc9fb6;
    background-color:white;
    padding:20px;
}

/*box end*/


@media only screen and (max-width: 767px) {
    .collapsing, .in {
        background-color:darkturquoise;
    }
    .collapsing ul li a, .in ul li a {
        color:white;
    }
    .collapsing ul li a:hover, .in ul li a:hover {
        color:antiquewhite;
    }
    #navCat{ 
        left:0;
    }
    #logo{
        width:80px;
    }
    #searchL{
        left:110px;
    }
    .bookBox-container{
        position:static; 
        width:100%;
    }
    .packPanel, .panel-heading, .panel-body{
        height: auto;
    }
    .lblPrice{
        position:static;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
