<div class="navbar-inverse" style="margin:20px 0">
    <div class="container">
        <div>
            <ul class="nav navbar-nav navbar-right" style="padding-right:30px">
                <li><a asp-area="" asp-controller="Provider" asp-action="UpdateProfile">Update Profile</a></li>
                <li>
                    <a asp-area="" asp-controller="Package" asp-action="Create">
                        <i class="glyphicon glyphicon-plus"></i> Add Package
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>