<div class="navbar-inverse" style="margin:20px 0">
    <div class="container">
        <div>
            <ul class="nav navbar-nav navbar-right" style="padding-right:30px">
                <li>
                    <a asp-area="" asp-controller="Customer" asp-action="UpdateProfile">Update Profile</a>
                </li>
            </ul>
        </div>
    </div>
</div>